@import '../../node_modules/reset-css/_reset';
@import '../../node_modules/normalize.css/normalize';
@import '../../node_modules/bourbon/app/assets/stylesheets/_bourbon';
@import '../../node_modules/bourbon-neat/app/assets/stylesheets/_neat';
@import 'partials/all';

body {
    background: $grey_color;
    color: $primary_color;
    
}

.container {
    width: $site_wrapper;
    margin: 2em auto;
    text-align: center;
    background-color: $secondary_color;
    padding: 30px 0;
}
